extend layout 

block content
    h1 Add an Item 
    
    if errors
        p Try Again and fix the errors!
        each error in errors
            p #{error}

    form(action="/catalog/item/create", method="POST") 
        label(for="name") Item Name:
        input(id="name", type="text", name="name", required='true')

        br

        label(for="price") Item Price:
        input(id="price", type="number", name="price", required='true')

        br

        label(for="quantity") Quantity:
        input(id="quantity" type="number", name="quantity", required='true')

        br

        label(for="category") Item Category:
        select(id="category" name="category")
            for cat in categories
                option(value=cat._id) #{cat.name}
        br

        button(type="submit") Submit